@import "tailwindcss";

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400, 700;
    font-display: swap;
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype"),
         url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype")
}

@layer utilities {
    .hero-bg {
        background: url("../assets/Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .hero-bg-response {
        background: linear-gradient(190deg, #000C19 0%, #0F1A38 10%, #000C19 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .hint-bg {
        background: linear-gradient(rgba(0, 124, 232, 0.8), rgba(0, 52, 98, 0.8));
    }

    .hint-rounded {
        border-radius: 50px 0px 50px 50px;
    }

    .hint-open {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.5);
    }

    .hint-animation {
        animation-name: popOut;
        animation-duration: 0.75s;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-fill-mode: both;
    }

    .aiball-animation {
        animation-name: aiball-keyframes;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .fadeIn {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
    }

    .fadeIn:nth-child(1) {
        animation-delay: 1s;
    }

    .fadeIn:nth-child(2) {
        animation-delay: 1.4s;
    }

    .zoomIn {
        animation-name: zoomIn;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: towards;
        animation-iteration-count: 1;
    }
}

@theme {
    --color-lightblue: #00C3FF;
    --color-blackBG: #131313;
    --font-lato: "Lato", sans-serif;
}

html {
    background-color: #000;
    font-family: "Open Sans", sans-serif;
}

@keyframes aiball-keyframes {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: translate(10px, -10px)
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
